/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background: black;
  color: lavenderblush;
  text-align: center;
  font-family:'Montserrat','Arial';
}

#NASA, h2 {
  font-family: 'Rubik Moonrocks', cursive;
  font-weight: 400;
}

h4 {
  text-align: left;
  margin: 20px 40px;
}

p {
  text-align: justify;
  margin: 20px 40px;
  font-weight: 400;
}

img{
  display: block;
  margin: 0 auto;
  width: 60%;
}

button, input {
  background: lavenderblush;
  border: 3px solid lavenderblush;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
